@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
h1 {
   font-weight: 400;
   font-family: 'Oswald', sans-serif;
}
.content {
    margin: 0 auto;
    max-width: 90%;
}
header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu a {
    padding: 10px;
    font-size: 1.005em;
    font-weight: 700;
    background-color: rgb(163, 153, 153);
    color: white;
    text-shadow: 2px 2px 1px rgb(79, 77, 77);
    margin: 3px;
    border-radius: 3px;
}