* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
header {
  width: 100%;  
  display: flex;
  justify-content: center;
  background-color: rgb(199, 31, 31);
}
header div.header-wrapper {
  width: 100%;
  max-width: 90%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
header div.header-wrapper h1 {
  margin: 10px;
  font-weight: 400;
}
a.logo {
  text-decoration: none;
  color: white;
}
p.alert {
  position: fixed;
  top: 110px;
  right: 130px;  
  display: none;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  font-weight: bolder;
  font-size: 25px;
}
p.alert.red {
  background-color:red;
}
p.alert.green {
  background-color: green;
}
.btn-add-movie {
  cursor: pointer;
  padding: 8px;
  background-color: rgb(242, 75, 75);
  box-shadow: 0px 0px 10px 0px black;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 3px;
}
.btn-add-movie:active {
  box-shadow: none;
  background-color: rgb(238, 96, 96);
}
#movieForm {
  width: 60%;
  margin: 0 auto;
  display: none;
  position: fixed;
  top: 2%;
  right: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  padding: 30px 20px;
}
#movieForm h2 {
  text-align: center;
  font-size: 2.5em;
}
#movieForm.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  color: white;
  background: rgba(0,0,0,0.9);
  box-shadow: 10px 5px 10px 10px grey;
  border-radius: 10px;
}
#movieForm input#description {
  height: 200px;
}
form input, h3 {
  padding: 10px;
  border-radius: 5px;
  width: 80%;
  max-width: 80%;
  align-self: center;
}
form p.fechar-form {
  align-self: flex-end;
  font-size: 30px;
  font-weight: bolder;
  text-shadow: 1px 1px 5px white;
  color: red;
  cursor: pointer;
  max-width: 30px;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
form p.fechar-form:hover {
  background-color: rgb(170, 167, 167);
}
form button {
    margin-top: 20px;
    padding: 15px;
    max-width: 350px;
    align-self: flex-end;
    color: white;
    font-size: 18pt;
    border: none;
    border-radius: 5px;
    background-color: red;
}
.content {
  max-width: 80%;
  margin: 5px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content div {
  margin: 20px;
  display: flex;
  box-shadow: 1px 10px 20px 10px rgb(114, 112, 112) ;
  border-radius: 15px;
}
.content div img {
  width: 100%;
  align-self: center;
  max-width: 250px;
  overflow: hidden;
}
.content div .texts-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  box-shadow: none;
}
.content div h2 {
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 700px ){
  .content div{
    flex-direction: column;
  }
  .content div img {
    width: 100%;
    max-width: none;
  }
  form#movieForm {
    position: absolute;
    padding: 0;
    width: 95%;
  }
  form#movieForm input, h3{
    margin: 0 ;
  }
  form#movieForm button{
    margin: 20px auto;
  }
}